.button {
  -moz-background-size: 50px 50px;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-background-size: 50px 50px;
  -webkit-transition: all 0.5s ease;
  background-color: dimgrey;
  background-size: 50px 50px;
  border: 2px solid #000000;
  color: #ffffff;
  display: inline-block;
  font-size: 100%;
  height: auto;
  margin: auto;
  padding: 15px;
  text-decoration: none;
  text-shadow: #000000 5px 5px 15px;
  transition: all 0.5s ease;
  width: 200px;
}

.button:hover {
  padding: 15px;
  text-shadow: #ff0a17 5px 5px 15px;
}

.button:active {
color: #ffffff;
position: relative;
top: 1px;
}

