{% extends 'menu/base.html' %}
{% load staticfiles %}


{#    <link rel="import" href="private_data.html">#}

{% block title %}
Личный кабинет пользователя {{ user.username }}
{% endblock %}
{%  block content %}
    <link rel="import" href="private_data.html">
    <h1>Личный кабинет пользователя {{ user.username }}</h1>
    <nav>
        <div id="inset" align="center">
            <a href="{% url 'private_data' %}" class="button">Личные данные</a>
            <a href="#" class="button">_______</a>
            <a href="#" class="button">_______</a>
            <a href="#" class="button">_______</a>
        </div>
    </nav>
</body>
</html>

{% endblock %}
