{% extends 'menu/base.html' %}
{% block title %}
    {{ section.name }}
{% endblock %}
{% block content %}
    <h1 align="center">{{ section.name }}</h1>
    {% if user_is_authenticated %}
        {% if no_tasks %}
            <h4 align="center">К сожалению, для Вас новых задач нет.</h4>
        {% else %}
            <div>
                <form action ="#" align="center" method="post">
                    {% csrf_token %}
                    <input class="btn btn-default" type="submit" value="{{ button_name }}">
                </form>
            </div>
        {% endif %}
    {% endif %}
    <h4>Описание к разделу:</h4>
    <pre>{{ section.description }}</pre>
    <h4>Эталонные задачи раздела:</h4>
{% autoescape off %}
    {% for task, tutorial in test_tasks.items %}
    {{ task }}
    <br>
    {{ tutorial }}
    {% endfor %}
 {% endautoescape %}
{% endblock %} 
