{% extends 'menu/base.html' %}
{% block title %}
    {{ section.name }}
{% endblock %}
{% block content %}
    <h1 align="center">{{ section.name }}</h1>
    <!--<form class="form">
        <div class="text-center" align="center">
            <button type="submit">Подобрать новую задачу</button>
        </div>
    </form> -->
    <h4>Описание к разделу:</h4>
    <pre>{{ section.description }}</pre>
    <h4>Эталонные задачи раздела:</h4>
{% autoescape off %}
    {% for task, tutorial in test_tasks.items %}
    {{ task }}
    <br>
    {{ tutorial }}
    {% endfor %}
 {% endautoescape %}
    <!--<h5>Решение эталонной задачи:</h5>
    <pre>Решение эталонной задачи раздела "{{ section.name }}"</pre> -->
{% endblock %} 
