{% extends 'menu/base.html' %}
{% block head %}
    <style>
        .btn-file {
            position: relative;
            overflow: hidden;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    </style>
{% endblock %}
{% block title %}
    {{ section.name }}
{% endblock %}
{% block content %}
{#    <h1 align="center">{{ section.name }}</h1>#}
    {% if user_is_authenticated %}
        {% if no_tasks %}
            <h4 align="center">К сожалению, для Вас новых задач нет.</h4>
        {% else %}
        {% endif %}
    {% endif %}
{% autoescape off %}
    {% for task, tutorial in tasks.items %}
    {{ task }}
    <br>
        <form action="{% url 'task_page' section.id task_id %}" method="post" enctype="multipart/form-data" class="form-inline"> 
        {% csrf_token %} 
        <div class="col-lg-6 col-sm-6 col-12">

            {{ form.docfile }}

        </div>
        <input type="submit" value="Upload" class="btn btn-primary" />
        </form>
        <br>
    <h3>Обучающий материал:</h3>
        {% if show_tutorial %}
            {{ tutorial }}
        {% else %}
            <p>Сначала решите задачу!</p>
        {% endif %}

{#    {{ tutorial }}#}
    {% endfor %}
 {% endautoescape %}



{% endblock %}




